.hidden_block
{
    display: none;
    grid-row: 1;
}

#right_event:hover, #left_event:hover
{
    background-color: #098d71;
}

#right_event
{
    width: 70px;
    background-color: #15a98c;
    grid-column: 3;
    grid-row: 1;
    border-radius: 68px;
    border: none;
    color: #fff;
    margin: 65px 0 0 41px;
    font-size: 45px;
}

.rightArrow
{
    padding: 18px 0 0 7px;
}

.rightArrow > .upArrow
{
    display: block;
    width: 25px;
    height: 0px;
    border: 3px solid #FFFFFF;
    transform: matrix(-0.71, -0.71, -0.71, 0.71, 0, 0);
    margin: 0px 0 15px 15px;
}

.rightArrow > .downArrow
{
    display: block;
    width: 22.94px;
    height: 0px;
    border: 3px solid #FFFFFF;
    transform: matrix(-0.65, 0.76, 0.76, 0.65, 0, 0);
    margin: 0px 0 18px 15px;
}

.leftArrow
{
    padding: 18px 0 0 0;
}

.leftArrow > .upArrow
{
    display: block;
    width: 25px;
    height: 0px;
    border: 3px solid #FFFFFF;
    transform: matrix(-0.71, -0.71, -0.71, 0.71, 0, 0);
    margin: 0px 0 13px 15px;
    transform: rotate(-45deg);
}

.leftArrow > .downArrow
{
    display: block;
    width: 22.94px;
    height: 0px;
    border: 3px solid #FFFFFF;
    transform: matrix(-0.65, 0.76, 0.76, 0.65, 0, 0);
    margin: 0px 0 18px 15px;
    transform: rotate(49.21deg);
}

#rigtn_event > .downArrow
{
    display: block;
    width: 22.94px;
    height: 0px;
    border: 3px solid #FFFFFF;
    transform: matrix(-0.65, 0.76, 0.76, 0.65, 0, 0);
}

#left_event
{
    justify-self: end;
    width: 70px;
    background-color: #15a98c;
    grid-column: 1;
    grid-row: 1;
    margin: 65px 41px 0 0;
    border-radius: 68px;
    border: none;
    color: #fff;
    font-size: 45px;
}

#left_event:focus, #right_event:focus
{
    outline: none;
}

.film1
{
    grid-column: 1;
}

.film2
{
    grid-column: 2;
}

.film3
{
    grid-column: 3;
}

.film4
{
    grid-column: 4;
}
