.hidden_block
{
    display: none;
    grid-row: 1;
}

#right_event:hover, #left_event:hover
{
    background-color: #098d71;
}

#right_event
{
    width: 70px;
    background-color: #15a98c;
    grid-column: 3;
    grid-row: 1;
    border-radius: 68px;
    border: none;
    color: #fff;
    margin: 65px 0 0 41px;
    font-size: 45px;
}

#left_event
{
    justify-self: end;
    width: 70px;
    background-color: #15a98c;
    grid-column: 1;
    grid-row: 1;
    margin: 65px 41px 0 0;
    border-radius: 68px;
    border: none;
    color: #fff;
    font-size: 45px;
}

#left_event:focus, #right_event:focus
{
    outline: none;
}

.film1
{
    grid-column: 1;
}

.film2
{
    grid-column: 2;
}

.film3
{
    grid-column: 3;
}

.film4
{
    grid-column: 4;
}
