html
{
    background: #fff
}

body
{
    margin: 0 auto;
    height: 1000px;
    width: 960px;
    background: #fff;
    padding: 100px 20px 0px 20px;
}

.side-left 
{
    float: left;
    max-width: 330px;
    margin: 0 60px 0 0;
}

.side-left div
{
     margin: 0 0 45px 0;    
}

.side-right
{
    margin: 50px 0 0 0;
    float: right;
    width: 570px;
}

.side-right > div
{
    margin-bottom: 45px;
}

h2
{
    color: #15a98c;
    font: 24px/32px sans-serif, arial;
    font-weight: 600;
    margin-bottom: -5px;    
}

.side-right > h1
{
  font-size: 48px;
  color: #333333;
  font-family: sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
}

ul, ol
{
    width: 330px;
    margin-bottom: 40px;
    padding: 0 0 0 22px;
    color: #555555;
    font: 19px/36px georgia, arial;
}

.quotes
{
    max-width: 500px;
    font: 28px/42px georgia, arial;
    font-style: italic;
    color: #848484;
    padding: 70px 0 0 55px;
    position: relative;
}

.quotes-img
{
    position: absolute;
    left: 0;
    top: 0; 
}

.photo
{
    width: 330px;
    height: 350px;
    border-radius: 5px;
    background-color: #132d36;
}

.copiright
{
    color: #333333;
    padding: 0 0 0 55px;
    font: 16px/42px sans-serif, arial;
    font-weight: 600;
}

p
{
    margin: 0;
    margin-bottom: 40px; 
    color: #555555;
    font: 19px/32px Georgia, arial;
}

.line
{
   width: 60px;
   height: 6px;
   border-radius: 3px;
   background-color: #45c3aa;       
}

.quotes-div
{
    height: 300px;
}

.side-right > .special-title
{
    font-size: 36px;
    line-height: 42px;
    color: #333333;
    font-weight: 400;
}

a
{
    color: #15a98b;
    font: 19px/32px georgia, arial;
}

   
    
    
    

